```
__pycache__/
*.pyc
```
.idea/CNN-Applications-Doc-Scanning-And-Enhancement.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
data/eval_visualizations/eval_01.jpg
data/eval_visualizations/eval_02.jpg
data/eval_visualizations/eval_03.jpg
data/eval_visualizations/eval_04.jpg
data/eval_visualizations/eval_05.jpg
data/eval_visualizations/eval_06.jpg
data/eval_visualizations/eval_07.jpg
data/eval_visualizations/eval_08.jpg
data/eval_visualizations/eval_09.jpg
data/eval_visualizations/eval_10.jpg
data/eval_visualizations/eval_11.jpg
data/eval_visualizations/eval_12.jpg
data/eval_visualizations/eval_13.jpg
data/eval_visualizations/eval_14.jpg
data/eval_visualizations/eval_15.jpg
data/eval_visualizations/eval_16.jpg
data/eval_visualizations/eval_17.jpg
data/eval_visualizations/eval_18.jpg
data/eval_visualizations/eval_19.jpg
data/eval_visualizations/eval_20.jpg
data/eval_visualizations/eval_21.jpg
data/eval_visualizations/eval_22.jpg
data/eval_visualizations/eval_23.jpg
data/visualizations/vis_1_10_jpg.rf.f1ac1d6f838ac69caad615321d44da9f.jpg
data/visualizations/vis_2_11_jpg.rf.283ba27e39e1f658b65c70ecb540e35b.jpg
data/visualizations/vis_3_12_jpg.rf.853f1ad8ab7bd62a6040ca6d423e6f49.jpg
data/visualizations/vis_4_13_jpg.rf.8f465c771040f611d9f3fbc7e3f92fe0.jpg
data/visualizations/vis_5_14_jpg.rf.ae3637cb30fd3028da392f2a99ccf36e.jpg
data/visualizations/vis_6_15_jpg.rf.fc05f0ca590485bde31589954d16fb06.jpg
data/visualizations/vis_7_16_jpg.rf.ae86213439d9b4398ad65bad3230f41a.jpg
data/visualizations/vis_8_17_jpg.rf.14b5e726c3b7bd36b7145790c80afd4c.jpg
data/visualizations/vis_9_18_jpg.rf.7568f0f387f4d9e1324185ae7b933938.jpg
data/visualizations/vis_10_19_jpg.rf.725232f3e60a591c482569e7fbc22b58.jpg
debug_outputs/sample_000.png
debug_outputs/sample_001.png
debug_outputs/sample_002.png
debug_outputs/sample_003.png
debug_outputs/sample_004.png
debug_outputs/sample_005.png
debug_outputs/sample_006.png
debug_outputs/sample_007.png
debug_outputs/sample_008.png
debug_outputs/sample_009.png
results/real_batch_output/1_jpg.rf.40baed1b840a2eacea27fac3c3e26884_comparison.png
results/real_batch_output/1_jpg.rf.40baed1b840a2eacea27fac3c3e26884_corners.png
results/real_batch_output/1_jpg.rf.40baed1b840a2eacea27fac3c3e26884_enhanced.png
results/real_batch_output/1_jpg.rf.40baed1b840a2eacea27fac3c3e26884_raw_heatmaps.png
results/real_batch_output/2_jpg.rf.db9abf090d7cbeab9949338b217c035a_comparison.png
results/real_batch_output/2_jpg.rf.db9abf090d7cbeab9949338b217c035a_corners.png
results/real_batch_output/2_jpg.rf.db9abf090d7cbeab9949338b217c035a_enhanced.png
results/real_batch_output/2_jpg.rf.db9abf090d7cbeab9949338b217c035a_raw_heatmaps.png
results/real_batch_output/3_jpg.rf.3fc259fc6b3300efbc17567da0a636f6_comparison.png
results/real_batch_output/3_jpg.rf.3fc259fc6b3300efbc17567da0a636f6_corners.png
results/real_batch_output/3_jpg.rf.3fc259fc6b3300efbc17567da0a636f6_enhanced.png
results/real_batch_output/3_jpg.rf.3fc259fc6b3300efbc17567da0a636f6_raw_heatmaps.png
results/real_batch_output/4_jpg.rf.79c93c185eeada2db6ce059775a7b3ff_comparison.png
results/real_batch_output/4_jpg.rf.79c93c185eeada2db6ce059775a7b3ff_corners.png
results/real_batch_output/4_jpg.rf.79c93c185eeada2db6ce059775a7b3ff_enhanced.png
results/real_batch_output/4_jpg.rf.79c93c185eeada2db6ce059775a7b3ff_raw_heatmaps.png
results/real_batch_output/5_jpg.rf.1d8fb645ada075e9c244a294c957e401_comparison.png
results/real_batch_output/5_jpg.rf.1d8fb645ada075e9c244a294c957e401_corners.png
results/real_batch_output/5_jpg.rf.1d8fb645ada075e9c244a294c957e401_enhanced.png
results/real_batch_output/5_jpg.rf.1d8fb645ada075e9c244a294c957e401_raw_heatmaps.png
results/real_batch_output/6_jpg.rf.74c3f78debd1c75f3786421ede49ed6d_comparison.png
results/real_batch_output/6_jpg.rf.74c3f78debd1c75f3786421ede49ed6d_corners.png
results/real_batch_output/6_jpg.rf.74c3f78debd1c75f3786421ede49ed6d_enhanced.png
results/real_batch_output/6_jpg.rf.74c3f78debd1c75f3786421ede49ed6d_raw_heatmaps.png
results/real_batch_output/7_jpg.rf.1afe0527fcdf31c91e928ed89d3a7b34_comparison.png
results/real_batch_output/7_jpg.rf.1afe0527fcdf31c91e928ed89d3a7b34_corners.png
results/real_batch_output/7_jpg.rf.1afe0527fcdf31c91e928ed89d3a7b34_enhanced.png
results/real_batch_output/7_jpg.rf.1afe0527fcdf31c91e928ed89d3a7b34_raw_heatmaps.png
results/real_batch_output/8_jpg.rf.12f8ed377a48fee1aeae6c5206ec09b5_comparison.png
results/real_batch_output/8_jpg.rf.12f8ed377a48fee1aeae6c5206ec09b5_corners.png
results/real_batch_output/8_jpg.rf.12f8ed377a48fee1aeae6c5206ec09b5_enhanced.png
results/real_batch_output/8_jpg.rf.12f8ed377a48fee1aeae6c5206ec09b5_raw_heatmaps.png
results/real_batch_output/9_jpg.rf.4b04eae14815851f92d454ae40236635_comparison.png
results/real_batch_output/9_jpg.rf.4b04eae14815851f92d454ae40236635_corners.png
results/real_batch_output/9_jpg.rf.4b04eae14815851f92d454ae40236635_enhanced.png
results/real_batch_output/9_jpg.rf.4b04eae14815851f92d454ae40236635_raw_heatmaps.png
results/real_batch_output/10_jpg.rf.e892023d994dc80ff0fd16005e440a43_comparison.png
results/real_batch_output/10_jpg.rf.e892023d994dc80ff0fd16005e440a43_corners.png
results/real_batch_output/10_jpg.rf.e892023d994dc80ff0fd16005e440a43_enhanced.png
results/real_batch_output/10_jpg.rf.e892023d994dc80ff0fd16005e440a43_raw_heatmaps.png
results/real_batch_output/11_jpg.rf.4f395eff56615be5c5864681ba0a7b49_comparison.png
results/real_batch_output/11_jpg.rf.4f395eff56615be5c5864681ba0a7b49_corners.png
results/real_batch_output/11_jpg.rf.4f395eff56615be5c5864681ba0a7b49_enhanced.png
results/real_batch_output/11_jpg.rf.4f395eff56615be5c5864681ba0a7b49_raw_heatmaps.png
results/real_batch_output/12_jpg.rf.100667dbb342696edc91d7353ed922c1_comparison.png
results/real_batch_output/12_jpg.rf.100667dbb342696edc91d7353ed922c1_corners.png
results/real_batch_output/12_jpg.rf.100667dbb342696edc91d7353ed922c1_enhanced.png
results/real_batch_output/12_jpg.rf.100667dbb342696edc91d7353ed922c1_raw_heatmaps.png
results/real_batch_output/13_jpg.rf.363d444ac2602a1f4cf533d86abbf2d1_comparison.png
results/real_batch_output/13_jpg.rf.363d444ac2602a1f4cf533d86abbf2d1_corners.png
results/real_batch_output/13_jpg.rf.363d444ac2602a1f4cf533d86abbf2d1_enhanced.png
results/real_batch_output/13_jpg.rf.363d444ac2602a1f4cf533d86abbf2d1_raw_heatmaps.png
results/real_batch_output/14_jpg.rf.2e08938507de80fc04fa18394c98e108_comparison.png
results/real_batch_output/14_jpg.rf.2e08938507de80fc04fa18394c98e108_corners.png
results/real_batch_output/14_jpg.rf.2e08938507de80fc04fa18394c98e108_enhanced.png
results/real_batch_output/14_jpg.rf.2e08938507de80fc04fa18394c98e108_raw_heatmaps.png
results/real_batch_output/15_jpg.rf.e945104d683838fa7164b7c829e234ba_comparison.png
results/real_batch_output/15_jpg.rf.e945104d683838fa7164b7c829e234ba_corners.png
results/real_batch_output/15_jpg.rf.e945104d683838fa7164b7c829e234ba_enhanced.png
results/real_batch_output/15_jpg.rf.e945104d683838fa7164b7c829e234ba_raw_heatmaps.png
results/real_batch_output/16_jpg.rf.5a93abe0038f23b4200c53c57ccf9fe2_comparison.png
results/real_batch_output/16_jpg.rf.5a93abe0038f23b4200c53c57ccf9fe2_corners.png
results/real_batch_output/16_jpg.rf.5a93abe0038f23b4200c53c57ccf9fe2_enhanced.png
results/real_batch_output/16_jpg.rf.5a93abe0038f23b4200c53c57ccf9fe2_raw_heatmaps.png
results/real_batch_output/17_jpg.rf.2dd1b1f07486411d59addffc9f03d6b6_comparison.png
results/real_batch_output/17_jpg.rf.2dd1b1f07486411d59addffc9f03d6b6_corners.png
results/real_batch_output/17_jpg.rf.2dd1b1f07486411d59addffc9f03d6b6_enhanced.png
results/real_batch_output/17_jpg.rf.2dd1b1f07486411d59addffc9f03d6b6_raw_heatmaps.png
results/real_batch_output/18_jpg.rf.320cdd4e53c3330abc7dbdd0490f9efd_comparison.png
results/real_batch_output/18_jpg.rf.320cdd4e53c3330abc7dbdd0490f9efd_corners.png
results/real_batch_output/18_jpg.rf.320cdd4e53c3330abc7dbdd0490f9efd_enhanced.png
results/real_batch_output/18_jpg.rf.320cdd4e53c3330abc7dbdd0490f9efd_raw_heatmaps.png
results/real_batch_output/19_jpg.rf.2fedaf0b584bd99bc48b1d7f68a74402_comparison.png
results/real_batch_output/19_jpg.rf.2fedaf0b584bd99bc48b1d7f68a74402_corners.png
results/real_batch_output/19_jpg.rf.2fedaf0b584bd99bc48b1d7f68a74402_enhanced.png
results/real_batch_output/19_jpg.rf.2fedaf0b584bd99bc48b1d7f68a74402_raw_heatmaps.png
results/real_batch_output/20_jpg.rf.9f1326d51e7c5d445979d525fd7465d7_comparison.png
results/real_batch_output/20_jpg.rf.9f1326d51e7c5d445979d525fd7465d7_corners.png
results/real_batch_output/20_jpg.rf.9f1326d51e7c5d445979d525fd7465d7_enhanced.png
results/real_batch_output/20_jpg.rf.9f1326d51e7c5d445979d525fd7465d7_raw_heatmaps.png
results/real_batch_output/21_jpg.rf.b2e51d9422cbd6efa90832ad5dae58fd_comparison.png
results/real_batch_output/21_jpg.rf.b2e51d9422cbd6efa90832ad5dae58fd_corners.png
results/real_batch_output/21_jpg.rf.b2e51d9422cbd6efa90832ad5dae58fd_enhanced.png
results/real_batch_output/21_jpg.rf.b2e51d9422cbd6efa90832ad5dae58fd_raw_heatmaps.png
results/real_batch_output/22_jpg.rf.4c5af74949f19554207387053cb8265e_comparison.png
results/real_batch_output/22_jpg.rf.4c5af74949f19554207387053cb8265e_corners.png
results/real_batch_output/22_jpg.rf.4c5af74949f19554207387053cb8265e_enhanced.png
results/real_batch_output/22_jpg.rf.4c5af74949f19554207387053cb8265e_raw_heatmaps.png
results/real_batch_output/23_jpg.rf.0b9f580c717a17f59176313ce0fbab7e_comparison.png
results/real_batch_output/23_jpg.rf.0b9f580c717a17f59176313ce0fbab7e_corners.png
results/real_batch_output/23_jpg.rf.0b9f580c717a17f59176313ce0fbab7e_enhanced.png
results/real_batch_output/23_jpg.rf.0b9f580c717a17f59176313ce0fbab7e_raw_heatmaps.png
data/eval_visualizations_nodropout/eval_01.jpg
data/eval_visualizations_nodropout/eval_02.jpg
data/eval_visualizations_nodropout/eval_03.jpg
data/eval_visualizations_nodropout/eval_04.jpg
data/eval_visualizations_nodropout/eval_05.jpg
data/eval_visualizations_nodropout/eval_06.jpg
data/eval_visualizations_nodropout/eval_07.jpg
data/eval_visualizations_nodropout/eval_08.jpg
data/eval_visualizations_nodropout/eval_09.jpg
data/eval_visualizations_nodropout/eval_10.jpg
data/eval_visualizations_nodropout/eval_11.jpg
data/eval_visualizations_nodropout/eval_12.jpg
data/eval_visualizations_nodropout/eval_13.jpg
data/eval_visualizations_nodropout/eval_14.jpg
data/eval_visualizations_nodropout/eval_15.jpg
data/eval_visualizations_nodropout/eval_16.jpg
data/eval_visualizations_nodropout/eval_17.jpg
data/eval_visualizations_nodropout/eval_18.jpg
data/eval_visualizations_nodropout/eval_19.jpg
data/eval_visualizations_nodropout/eval_20.jpg
data/eval_visualizations_nodropout/eval_21.jpg
data/eval_visualizations_nodropout/eval_22.jpg
data/eval_visualizations_nodropout/eval_23.jpg
